# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
.env

# Airflow logs
airflow/logs/

# Other common cache
*.log
*.sqlite

.idea/
.vscode

target/
dbt_packages/
logs/
analyses/dbt_internal_packages/